<%= form_tag charges_path do %>
<!DOCTYPE html>
<html>
<head>
<title>BenAppIndexHeadTitle</title>
</head>
<body>
<p>Ben's 3D Printer Monitor:</p>
<%=image_tag("box")%>
<%= link_to "buy this product", new_charge_path %>
</body>
</html>
<% end %>