<!DOCTYPE html>
<html>
<head>
<title>BenAppIndexHeadTitle</title>
</head>
<body>
<h2 style="text-align: center;">Ben's 3D Printer Monitor:</h2>
<div class="content">
<br><br>
<%=image_tag("https://images-na.ssl-images-amazon.com/images/I/41Hkag9%2B%2B0L._SX466_.jpg") %>
<br><br>
</div>
<br><br>

<div class="morecontent">
<%= link_to "buy this product", new_charge_path %>
</div>
</body>
<footer>
  <br>
  <p>Contact information: <a href="mailto:ourcontactinfo@example.com">
  ourcontactinfo@example.com</a>.</p>
</footer>
</html>
