<!DOCTYPE html>
<html>
<head>
<title>BenAppIndexHeadTitle</title>
</head>
<body>
<p>Ben's 3D Printer Monitor:</p>
<%=image_tag("https://images-na.ssl-images-amazon.com/images/I/41Hkag9%2B%2B0L._SX466_.jpg") %>
<%= link_to "buy this product", new_charge_path %>
</body>
</html>
